
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.estiloDarkMode{
    color: white;
    background-color: black;
}
.estiloDarkMode .modal{
    color: black;
}
.estiloDarkMode .card{
    color: black
}

.btn-success{
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}
.btn-success:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}



