
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.estiloDarkMode{
    color: white;
    background-color: black;
}
.estiloDarkMode .modal{
    color: black;
}
.estiloDarkMode .card{
    color: black
}




